/* work sans font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,900&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}

.text-light-gray {
    color: #727272;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--Dark-01, #131313);
}


header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-01, #131313);

}



/* banner style */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    color: var(--Dark-01, #131313);
    font-weight: 700;
}


.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 0px;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}




/* main styles */

main {
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 3rem;
    color: #727272;

}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.of-our {
    color: black;
}

.text-features {
    color: #FF900E;
    font-weight: 700;
}

.teams-description {
    color: gray;
}

.features {
    display: flex;
    margin-top: 130px;
    gap: 146px;
}

.feature-content .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-img img{
    /* width: 100%; */
    height: 90%;
    margin-left: 90px;
}

.ten-yearsten-years{
    border-radius: 8px;
    background:#FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years h2{
    font-size: 4rem;
    margin-top: 0px;
}
.ten-years p{
    text-align: center;
    font-size: 1.5rem;
}

/* facts section  */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px 30px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;

}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sponsors {
    text-align: center;
}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
}

.sponsors-img-container img {
    width: 165px;

}


/* responsive media queries */
/* mobile  */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }
    .ten-years{
        position:static;
        max-width: 300;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-content,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .feature-img img {
        width: 90%;
        margin-left: 0;
    }

    .facts-card-container {
        gap: 20px;
    }
}

/* tablet */

@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .sponsors-img-container,
    .teams-container {
        flex-direction: column;
    }
}